<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>contenido</ion-title>
    <ion-buttons sLot="start">
      <ion-back-button text="Atrás" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">contenido</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-card color="primary">
  <ion-card-header>
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content> Card Content </ion-card-content>
</ion-card>

<ion-card color="secondary">
  <ion-card-header>
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content> Card Content </ion-card-content>
</ion-card>

<ion-card color="tertiary">
  <ion-card-header>
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content> Card Content </ion-card-content>
</ion-card>

<ion-card color="success">
  <ion-card-header>
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content> Card Content </ion-card-content>
</ion-card>

<ion-card color="warning">
  <ion-card-header>
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content> Card Content </ion-card-content>
</ion-card>

<ion-card color="danger">
  <ion-card-header>
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content> Card Content </ion-card-content>
</ion-card>

<ion-card color="light">
  <ion-card-header>
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content> Card Content </ion-card-content>
</ion-card>

<ion-card color="medium">
  <ion-card-header>
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content> Card Content </ion-card-content>
</ion-card>

<ion-card color="dark">
  <ion-card-header>
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content> Card Content </ion-card-content>
</ion-card>