<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-title style="color:#000000; font-size: 25px; text-align: center; margin-top: 5%;">
    Generar QR
  </ion-card-title>
  <div class="btn-wrap">
    <ion-button fill="solid" class="btn-w" (click)="generarQR()">Generar</ion-button>
  </div>
  <ion-card class="qr-code">
  <qrcode [qrdata]="qrData" [width]="256" [errorCorrectionLevel]="errorCorrectionLevel"></qrcode>
  </ion-card>
</ion-content>


