<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons >
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 
      <ion-card-title style="margin:0 auto; color:#000000; font-size: 25px; text-align: center; margin-top: 5%;">
          Generar QR
      </ion-card-title>      
    <div class="btn-wrap">
      <ion-button fill="solid" class="btn-w" routerLink="/principal">Generar</ion-button>
    </div>
  
</ion-content>
