<ion-header [translucent]="true">
  <ion-buttons style="color:#ffffff">
    <ion-menu-button auto-hide="false"></ion-menu-button>
  </ion-buttons>
</ion-header>


<ion-content [fullscreen]="true" class="contenedor-principal">
  <ion-card-title style="margin:0 auto; color:#ffffff; text-align: center; margin-top: 10px;">
    Bienvenid@ {{ nombreUsuario }}
  </ion-card-title> 
  <div class="sk-cube-grid">
    <div class="sk-cube sk-cube1"></div>
    <div class="sk-cube sk-cube2"></div>
    <div class="sk-cube sk-cube3"></div>
    <div class="sk-cube sk-cube4"></div>
    <div class="sk-cube sk-cube5"></div>
    <div class="sk-cube sk-cube6"></div>
    <div class="sk-cube sk-cube7"></div>
    <div class="sk-cube sk-cube8"></div>
    <div class="sk-cube sk-cube9"></div>
  </div>
  <ion-card-header>
    <ion-card-title style="margin:0 auto; color:#ffffff; font-size: 14px;">
      Da inicio a una nueva experiencia, con esta aplicación tomar asistencia es realmente fácil! 
    </ion-card-title>      
  </ion-card-header>
  <ion-card-subtitle class="subtitulo" >
    Pulsa en la barra superior-izquierda para ver el menu con todas las opciones.
    <ion-card >
      <ion-img src="../../assets/icon/imagenprincipal/inicio.png" ></ion-img>        
    </ion-card>
  </ion-card-subtitle>
  <ion-card-subtitle class="subtitulo" >
    Aqui podrás elegir distintas opciones!
    <ion-card >
      <ion-img src="../../assets/icon/imagenprincipal/menu.png" ></ion-img>        
    </ion-card>
  </ion-card-subtitle>
  
</ion-content>