<ion-header class="ion-sin-borde">
  <ion-toolbar>
    <!-- <ion-title>login</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content class="contenedor-principal">
    <ion-card >
      <ion-img src="../../assets/icon/iconos.png" ></ion-img>        
    </ion-card>
    <ion-card-header>
      <ion-card-title style="margin:0 auto; color:#ffffff;">
        Bienvenid@
      </ion-card-title>      
    </ion-card-header>
    <ion-card-subtitle class="subtitulo" >
      Aquí podrás tomar asistencia y mantener el registro de las personas de forma rápida y fácil!
    </ion-card-subtitle>
    <ion-card-content >
    
    <div class="inferior">
      <div class="ingreso-botones">
        <ion-button  fill="solid" routerLink="/login" shape="round"  class="loginbtn"  style="margin-top: 70px; ">Ingresar</ion-button>
        <ion-button fill="outline" routerLink="/registro" shape="round" color="dark" style="margin-top: 70px; ">Registro</ion-button>
      </div>
      <div class="text-tag">
      <span>ingresa con tu red social!.</span>
      </div>
      <div class="socialbtns">
        <ion-button fill="clear" href="https://es-la.facebook.com/" class="facebtn ion-no-padding">
          <ion-img src="../../assets/icon/icons8-facebook-48.png"></ion-img>
        </ion-button>
        <ion-button fill="clear" href="https://twitter.com/?lang=es" class="facebtn ion-no-padding">
          <ion-img src="../../assets/icon/icons8-twitterx-50.png"></ion-img>
        </ion-button>
        <ion-button fill="clear" href="https://www.instagram.com/" class="facebtn ion-no-padding">
          <ion-img src="../../assets/icon/icons8-instagram-48.png"></ion-img>
        </ion-button>
      </div>
    </div>
    </ion-card-content>
</ion-content>
